@using ProductManagement_Business.Enum;
@using ProductManagement_DAL.Models;


@model List<AppUser>
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css"/>
</head>
<div class="page-content">
    <div class="row">
        <div class="col-md-10">

        </div><div class="col-md-2">
            <a href="@Url.Action("New")" class="btn btn-primary">New</a>
        </div>
        
    </div>
    <br />
    <table id="example" class="table is-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@Enum.GetName(typeof(RoleTypes), @item.RoleId)</td>
                        <td><a class="btn btn-primary" href="@Url.Action("Detail", new { userId = item.Id })">Edit</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", new { userId = item.Id })">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
        
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}